{%
  set classes = [
    'header',
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
  <header{{ attributes.addClass(classes) }}>
	 <div class="container">
         <div class="clearfix">
            {{ content }}
          </div>
	 </div>
  </header>
{% endif %}

