
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
<div class="videos_wrapper" style="background:url({{ background_image_url }}) no-repeat ; background-position: 0 0;background-size: cover;">
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content.field_label_videos_page }}
    {% endblock %}
  </div>
{% endblock paragraph %}
</div>
