{# #}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% set the_image = item.content['#field_collection_item'].field_featurette_image %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div style="background: linear-gradient(90deg,rgba(0,0,0,.5) 21%,hsla(0,0%,7%,0)), url({{ background_image_url }}) no-repeat center top;">
          <div class = "container">
            <div class = "row justify-content-center">
                <div class="text-center shared_white_title_pos">
                  <h1>
                   {{ content.field_shared_h1_white_title }}
                  </h1>
                  <h2>
                   {{ content.field_shared_h2_white_title_desc }}
                  </h2>
                </div>
            </div>
          </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}

