{% set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

    {% block paragraph %}
        <div{{ attributes.addClass(classes) }}>
            <div class="container">
                {% block content %}
                    <div class="nav flex-column nav-pills" id="" role="tablist" aria-orientation="vertical">
                        {{ content.field_tab_link }}
                    </div>

                    <div class="tab-content">
                        {{ content|without('field_tab_link') }}
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock paragraph %}
