

{# The template default set classes. #}
{# Sets Paragraph ID as class. #}
{%
set classes = [
'paragraph-column',
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
      <div class="press-events">
            {% block content %}
                  <div class="container">
                        <div class="row">
                              <div class="col-sm-12 col-md-6">
                                    <div class="text-wrap">
                                          {{ content.field_description }}
                                    </div>
                              </div>
                              <div class="col-sm-12 col-md-6">
                                    <div class="press-wrap">
                                          {{ content.field_press_view  }}
                                    </div>
                              </div>
                        </div>
                  </div>

            {% endblock %}
      </div>
{% endblock paragraph %}

