
{%
  set classes = [
    'benefits-trio',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
<section class='{{ content.field_css_class }}'>
{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    <div class="container">
    {% block content %}
      {{ content }}
    {% endblock %}
    </div>
  </section>
{% endblock paragraph %}
</section>