{# #}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class = "row">
            <div class="col-7">
              {{content.field_columns[0]}}
            </div>
            <div class="col-5">
              {{content.field_columns[1]}}
            </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}


