{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
<section class='{{ content.css_class }}'>
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="container">
      {% block content %}
          <div class="title">
            {{ content.field_title }}
          </div>
          <div class="wrap-items">
              {{ content|without('field_title') }}
          </div>
      {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
</section>