{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

<div class="container">
  <div class="list-labels d-none d-sm-block">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="title">
                  INCIDENT
              </div>
          </div>
          <div class="col-lg-2 col-md-2 d-none d-sm-none d-md-none d-lg-block">
              <div class="region">
                  REGION
              </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
              <div class="geolocation">
                  LOCATION
              </div>
          </div>

          <div class="col-lg-2 col-md-3 d-none d-sm-none d-md-block">
              <div class="created">
                  DATE
              </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-4">
              <div class="view-node">
                  ARTICLE LINK
              </div>
          </div>
      </div>
  </div>
  <div class="post-list">
    {% for row in rows %}
      {%
        set row_classes = [
          default_row_class ? 'views-row',
        ]
      %}
      <div{{ row.attributes.addClass(row_classes) }}>
        {{- row.content -}}
      </div>
    {% endfor %}
  </div>
</div>
