.event-registration,
.node--type-event
{

	p {
		margin: 20px 0;
		font-size: 16px;
		line-height: 24px;
		color: #fff;
	}

	h4 {
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		font-weight: 500;
		color: #fff;

	}

	li {
		font-size: 16px;
		font-weight: 300;
		color: #fff;
	}

	.title-label {

	}

	.event-title {
		margin-bottom: 10px;
		font-size: 40px;
		line-height: 45px;
		color: #fff;
	}

	.form-item-submit {
		width: 100%;
		margin-top: 25px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.date {
		font-size: 20px;
		line-height: 24px;
		color: #fff;
		font-weight: 300;
	}

}