.header {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #FFF;
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,.2);
    
	
	&__logo {
		&-link {
			display: block;
			width: 135px;
			height: 28px;
			
			img {
				display: block;
				width: 100%;
			}
		}
	}

	.navbar {
		display: block;
		padding: 0;

		&-light {
			.navbar-toggler {
				border: 0 none;

				@media (max-width: 991px) {
					position: absolute;
					right: 0;
					top: -32px;
				}
			}
		}

		@media (max-width: 991px) {
			width: 100%;
		}
	}

	@media (max-width: 991px) {
		.container {
			width: 100%;
			max-width: 100%;
		}
	}
}


.main-menu {
	margin: 0;

	& > li {
		float: left;
		margin-left: 30px;
		padding: 0;
		
		&:first-child {
			margin-left: 0px;
		}

		&:last-child {
			& > a,
			& > span {
				color: #e5310e;
			}

			span {
				display: block;
				padding: 5px 0 4px 0;
				font-size: 13px;
				font-weight: 400;
				letter-spacing: 1px;
				text-transform: uppercase;
				cursor: pointer;
			}
		}
		
		& > a {
			display: block;
			padding: 5px 0 4px 0;
			font-size: 13px;
		    font-weight: 400;
		    letter-spacing: 1px;
		    text-transform: uppercase;
		    color: #111;
		}
	}

	& > .menu-item {
		position: relative;

		&--expanded {

			& > .menu {
				display: none;
				position: absolute;
				z-index: 11;
				right: -35px;
				left: -35px;
				min-width: 100%;
				padding: 10px;
				margin: 0px;
				background: #fff;
				border-radius: 2px;
				box-shadow: 1px 1px 5px 1px rgba(0,0,0,.25);

				a {
					padding: 7px 0 7px 20px;
				}
			}

			&:hover {
				& > .menu {
					display: block;
				}
			}
		}
	}

	@media (max-width: 991px) {
		margin-top: 20px;

		& > li {
			float: none;
			width: 100%;
			margin-left: 0;

			&:last-child {
				& > a,
				& > span {
					color: #e5310e;
				}

				span {
					display: block;
					padding: 5px 0 4px 0;
					font-size: 13px;
					font-weight: 400;
					letter-spacing: 1px;
					text-transform: uppercase;
					cursor: pointer;
				}
			}

			& > a {
				padding: 10px 0;
			}
		}
	}
}