.horizontal-tabs {

	.tab-container {
		display: flex;
		flex-wrap: wrap;
		align-items:flex-start;
		align-content:flex-start;
	}

	.nav-tabs {
		flex: 0 0 150px;
		max-width: 150px;
		border: 0 none;

		li {
			width: 100%;

			a {
				display: block;
				background-color: transparent;
				font-size: 12px;
				font-weight: 700;
				text-decoration: none !important;
			}

		}
	}

	.tab-content {
		flex: 1 0;
	}
}