.text-columns {
	min-height: 1000px;
	padding-top: 150px;
	padding-bottom: 150px;
	background-image: url('../images/text_columns_bg.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;

	.title {
		margin: 10px 0;
		font-size: 40px;
		line-height: 45px;
		text-align: center;
		letter-spacing: 0;
		color: #111;
		font-weight: 300;
	}

	.wrap-items {
		margin-top: 125px;

		p {
			margin-top: 10px;
			float: none;
			clear: none;
			color: #111;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			font-weight: 300;
		}
	}

	.row {
		@media (max-width: 767px) {
			display: block;
		}
	}

	.thumb {
		position: relative;

		&:after {
			position: absolute;
			content: '';
			left: 50%;
			width: 1px;
		}

		&:nth-child(1),
		&:nth-child(3) {
			&:after {
				bottom: -140px;
				height: 140px;
				background: #011d2a;
			}

			@media (max-width: 767px) {
				display: none;
			}
		}

		&:nth-child(2) {
			p {
				color: #009ee3;
			}

			&:after {
				bottom: -80px;
				height: 80px;
				background: #009ee3;
			}

			@media (max-width: 767px) {
				width: 220px;
				padding: 0;
				margin-right: auto;
				margin-left: auto;
			}
		}

	}

	@media (max-width: 991px) {
		//padding-top: 100px;
		padding-bottom: 100px;
	}
}