.press-events {
	padding: 150px 0;
	.text-wrap{
		h2{
			font-size: 40px;
			line-height: 45px;
			color: #111;
		}
		p{
			margin-top: 25px;
			color: #111;
			font-size: 20px;
			line-height: 24px;
			max-width: 300px;
		}
	}
		.event-block{
			margin: 0 0 50px 0;
			padding: 0 15px;
			border-left: 5px solid transparent;
			&:hover{
				border-left: 5px solid #f05c40;
			}
			.views-field-field-event-description-full{
				p{
					color: #111;
					margin-bottom: 20px;
					font-size: 18px;
					font-weight: 400;
				}
			}
			.views-field-field-event-date{
				time.datetime{
					color: #111;
					font-size: 12px;
					line-height: 15px;
					text-align: left;
				}
			}
			.views-field-field-link-to-press{
				a{
					color: #111;
					font-size: 16px;
					line-height: 24px;
					margin-top: 20px;
					text-decoration: none;
				}
			}
		}
}
