.field--name-field-shared-h1-white-title
{
	font-size: 40px;
    line-height: 45px;
    letter-spacing: 0;
    color: #fff;	
    text-align: center;	
    font-weight: 200;
}
.field--name-field-shared-h2-white-title-desc
{
    color: #fff;    
    text-align: center; 
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
}

#headerwrap
{
    display:flex;
    min-height: 550px;
    background: linear-gradient(90deg,rgba(0,0,0,.5) 21%,hsla(0,0%,7%,0)), url(../images/technology-partners-title-background.jpg) no-repeat center top;
    background-attachment: relative;
    background-position: center center;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


