/* ==========================================================================
   Page "Technology Partners" styles
   - positioning options and unique page styles.
   - other page styles defined in _shared.scss.
   ========================================================================== */

/*Title paragraph*/
.paragraph--type--shared-simple-white-title-
{
	#tech-par-title-background
	{
	    @extend #full_width_background;
	    min-height: 550px;

	    
	}
}

/*Page description paragraph*/
.paragraph--type--bundle-description-tech-par-page 
{
	h1{	margin-top:0px;
	margin-bottom: 40px; }
	p
	{
		padding: 0px 10px;
	}
	a{ padding-left: 10px; }
}

/*Main content paragraph*/
.paragraph--type--bundle-content-tech-par-page
{
	h2
	{
		font-weight: 400;
		margin: 10px 0px;

	}
	.bundle_partner_logo
	{
		padding-top: 15px;
		padding-bottom: 10px;
		display:flex;
		width:160px;
		height:100%;
	}
	.bundle_partner_logo img
	{
		width:160px;
		height:auto;
    }
    .row
    {
    	margin: 60px 0 40px;
		padding: 40px 11px 11px;
	    border-top: 1px solid #426270;
    }
}

/*Additional information paragraph*/
.paragraph--type--shared-aditional-information
{

}



{{ base_path ~ directory }}/images/technology-partners-title-background.jpg