/* ==========================================================================
   Page "Technology Partners" styles
   - positioning options and unique page styles.
   - other page styles defined in _shared.scss.
   ========================================================================== */

/*Page description*/

.section-description-tech-part
{
	@extend .section;
	padding-bottom: 0px !important;
}
.paragraph--type--bundle-description-tech-par-page
{
	h1{	
		margin-top:0px;
		margin-bottom: 40px; 
		text-align: left !important;
	}
	p{ padding: 0px 10px; }
	a{
		padding-left: 10px;
		text-decoration: none;
	}

}

/*Page content*/

.section-content-tech-part
{
	@extend .section;
	padding-top: 0px !important;
}
.paragraph--type--bundle-content-tech-par-page
{
	h2{
		font-weight: 400;
		margin: 10px 0px;
	}

	p{
		font-weight: 300;
	}

	a{
		text-transform: uppercase;
		font-weight: 600 !important;
		letter-spacing: 1px;
		font-size: 12px;
		line-height: 15px;
		text-align: left;
		text-decoration: none;
	}

	.bundle_partner_logo{
		padding-top: 15px;
		padding-bottom: 10px;
		display:flex;
		width:160px;
		height:100%;
	}

	.bundle_partner_logo img{
		width:160px;
		height:auto;
    }

    .row{
    	border-top: 1px solid #426270;
    	margin-top: 60px;
		padding: 40px 11px 11px;
    }
}

