.paragraph--type--section-want-to-learn-more {
  background-image: linear-gradient(180deg, #f05c40, #f05c40);
  padding-top: 150px;
  padding-bottom: 150px;
  box-sizing: border-box;
}

.field--name-field-label-want-to-learn-more- {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.field--name-field-label-want-to-learn-more- h1 {
  position: relative;
  flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 1;
  width: auto;
  margin-top: 10px;
  padding-top: 5px;
  text-align: center;
  flex: 0 auto;
  color: #fff;
  border-style: none;
  padding-bottom: 0;
  border-bottom-width: 0;
  font-family: 'Pluto Sans Condensed Extra Light', sans-serif;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0;
  border-bottom-color: #bbb;
  font-weight: 200;
  text-transform: none;
  margin-bottom: 10px;
}

.field--name-field-label-want-to-learn-more- blockquote {
  color: rgb(129, 129, 129);
  display: block;
  margin-top: 25px;
  text-align: center;
  margin-bottom: 0px;
}

.field--name-field-label-want-to-learn-more- blockquote p {
  text-align: center;
  min-width: 220px;
  margin-right: 10px;
  margin-left: 10px;
  border-color: #fff;
  background-color: transparent;
  background-image: none;
  color: #fff;
  border: 1px solid ;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 15px 50px;
  border-radius: 4px;
  font-family: 'Pluto Sans Condensed Regular', sans-serif;

  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.field--name-field-label-want-to-learn-more- blockquote p a{
  color: #fff;
}
