input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="tel"],
textarea,
select {
  display: inline-block;
  width: 100%; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="date"]:focus,
  input[type="tel"]:focus,
  textarea:focus,
  select:focus {
    outline: 0 none; }

button {
  display: inline-block; }

.contact-us-form {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: linear-gradient(180deg, #011d2a, #011d2a); }
  .contact-us-form label {
    display: block;
    margin: 25px 0 0 0;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #7d949f !important; }
  .contact-us-form input {
    color: #fff; }
  .contact-us-form input,
  .contact-us-form select {
    border: 0 none;
    border-bottom: 1px solid #426270;
    padding: 5px 0;
    background: transparent;
    font-size: 13px; }
  .contact-us-form h2,
  .contact-us-form p {
    color: #fff; }
  .contact-us-form .form-description h2 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 10px; }
  .contact-us-form .form-description p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px; }
  .contact-us-form .form-item-submit {
    margin-top: 25px;
    padding-right: 15px;
    width: 50%; }
    .contact-us-form .form-item-submit input[type="submit"],
    .contact-us-form .form-item-submit button {
      width: 100%;
      background: #009ee3;
      padding: 15px 30px;
      color: #fff;
      font-size: 11px;
      font-weight: 400;
      line-height: 15px;
      text-transform: uppercase;
      border: 0 none;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none; }
      .contact-us-form .form-item-submit input[type="submit"]:hover,
      .contact-us-form .form-item-submit button:hover {
        background: #008ecc; }
  @media (max-width: 991px) {
    .contact-us-form {
      padding-top: 100px;
      padding-bottom: 100px; } }
  @media (max-width: 767px) {
    .contact-us-form {
      padding-top: 50px;
      padding-bottom: 50px; } }
